.place__image-container {
    padding-top: 48px;
    padding-right: 40px;
}

@media screen and (max-width: 767px) {
    .place__image-container{
        padding-top: 32px;
        padding-right: 0;
    }
}