.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 213px;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 225px;
        max-width: none;
        gap: 14px;
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 264px;
        gap: 16px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 420px) {
    .photo-grid {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: 216px;
        gap: 12px;
        padding-right: 16px;
        padding-left: 16px;
    }
}