.place__paragraph {
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 22px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 27px; 
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 420px) {
  .place__paragraph {
    padding-right: 16px;
    padding-left: 16px;
  }
}
