.intro {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: none;
        padding-right: 48px;
        padding-left: 48px;
    }
}


@media screen and (max-width: 768px) {
    .intro {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 420px) {
    .intro {
        padding-bottom: 64px;
        padding-right: 16px;
        padding-left: 16px;
    }
}