.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: auto;
    padding-top: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        padding-top: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: repeat(1, 100%);
        padding-top: 50px;
    }
}