.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    padding-top: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        padding-top: 73px;
    }
}

@media screen and (max-width: 700px) {
    .place {
        padding-top: 50px;
        align-items: flex-start;
        flex-direction: column;
    }
}